body {
    background-color: rgb(8, 16, 8);
    
    
}
nav{  
     justify-content:center;
    display: flex;
    padding: 12px;
    gap: 30px;
    border:1px solid rgb(7, 72, 7);
    border-radius: 20px;
  
    
   
}
nav a{
    color: aliceblue;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;    
    border-radius: 12px;
    padding: 12px;
    box-shadow: 0 0 20px rgb(0, 160, 61);
    border:1px solid rgb(7, 72, 7);
   
    
    
}
 nav a:hover{   
    color: rgb(0, 255, 30);
    box-shadow: 0 0 20px rgb(4, 143, 34);
   
    
 }
.welcome{
    color: azure;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.welcome h1{
    font-size: 80px;
    margin-top: 100px;
    margin-bottom: 0px;
    
}
.welcome h2{
      margin-top: 1px;
      margin-bottom: 80px;
}

 .img1{
    display: block;
    margin: auto;
    height: auto;
    width: 1000px;
    border-radius: 30px;
    box-shadow: 0 0 323px rgb(2, 53, 2);
}


.btn{    
   justify-content: center;
   display: flex;
   margin-top: 100px;
   gap: 50px;
   font-family: Arial, Helvetica, sans-serif;
}


   
.cont{
    background-color: rgb(5, 72, 36);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 12px;
}
.now{
    border: 1px solid rgb(5, 72, 36);
    color: white;
    padding: 10px;
    text-decoration: none;
    border-radius: 12px;
}
  .btn a:hover{
   color: rgb(1, 142, 11);
   box-shadow: 0 0 50px rgb(0, 194, 243);
   background-color: aquamarine;

} 
.what {
    color: rgb(0, 0, 0);
    text-align: center;
    display: block;
    padding: 50px;
   font-family: Arial, Helvetica, sans-serif;
}
.under{
    color: aqua;
    justify-content: center;
    margin-top: 234px;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.text-shp{   
    justify-content: center;
    display: flex;
    gap: 250px;
    font-family: Arial, Helvetica, sans-serif;
    margin-right: 100px;

}    
.text-shp2{
    justify-content: center;
    display: flex;
    gap: 250px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-shp3{
    justify-content: center;
    display: flex;
    gap: 250px;
    font-family: Arial, Helvetica, sans-serif;
}
.btn-more{
    font-family: Arial, Helvetica, sans-serif, bold;
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin-top: 200px;
    
    
}
.btn-more a{
        text-decoration: none;
        
        padding: 12px;
        border-radius: 12px;
       color: antiquewhite;
       box-shadow:0 0 30px black;
       border: 1px solid wheat;
    }   
.btn-more a:hover{
    color: aquamarine;
    box-shadow: 0 0 12PX blue;
    
}   

.shape1{
background-color: rgb(184, 182, 182);
height: 600px;
width: 100%;
margin-top: 342px;

}
.shp-prt{
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    height: 700px;
    width: 100%;
    margin-top: 123px;
    
}

.shp-sub{
  display: flex;
  justify-content: center;
  gap: 500px;
}
.shp-prt h1{
    color: aliceblue;
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}
    
.testT h1{
   background-color: rgb(6, 66, 67);
    height: auto;
    width: 30px;   
    border-radius: 1000px;    
       
}

.testE h1{
    background-color: rgb(6, 66, 67);
    height: auto;
    width: 30px;   
    border-radius: 1000px;    
  
}

.testS h1{
    background-color: rgb(6, 66, 67);
    height: auto;
    width: 30px;   
    border-radius: 1000px;    
     
}


.prt h2{
        border: 1px solid rgb(255, 255, 255);
        padding: 12px;
        border-radius: 12px;
        text-align: center;
        box-shadow:0 0 30px black;
        color: aliceblue;
        background-color: black;
        display: block;
    }


   